@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@font-face {
  font-family: 'Gotham Pro - Bold';
  src: url('../../fonts/GothemPro/Bold/GothamPro-Bold.eot');
  src: url('../../fonts/GothemPro/Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/GothemPro/Bold/GothamPro-Bold.woff2') format('woff2'),
  url('../../fonts/GothemPro/Bold/GothamPro-Bold.woff') format('woff'),
  url('../../fonts/GothemPro/Bold/GothamPro-Bold.ttf') format('truetype'),
  url('../../fonts/GothemPro/Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro - Light';
  src: url('../../fonts/GothemPro/Light/GothamPro-Light.eot');
  src: url('../../fonts/GothemPro/Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/GothemPro/Light/GothamPro-Light.woff2') format('woff2'),
  url('../../fonts/GothemPro/Light/GothamPro-Light.woff') format('woff'),
  url('../../fonts/GothemPro/Light/GothamPro-Light.ttf') format('truetype'),
  url('../../fonts/GothemPro/Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

