$primary: #854399;
$gradient: #b14599;
$contrast: #ffffff;
$secondary: #10181f;
$third: #2f2f2f;

$textTitle: $secondary;
$textSubtitle: $primary;
$text: $third;
$textContrast: $contrast;
$bgContrast: $contrast;
$bgPrimary: $primary;
$bgGradient: $gradient;
$bgSecondary: $secondary;
$shadow: $primary;

$fontOpen: "Open Sans", sans-serif;
$fontOpenSemiBold: "Open Sans - Semi Bold", sans-serif;
$fontOpenBold: "Open Sans Bold", sans-serif;

$fontGothemBold: "Gotham Pro - Bold", sans-serif;
$fontGothemLight: "Gotham Pro - Light", sans-serif;
