@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.items {

  .row {

    [class*=col-] {

      &:nth-last-child(-n+3) {

        @media screen and (min-width: 768px){
          margin-top: rem(205);
        }
      }

      @media screen and (max-width: 767px){
        margin-top: rem(40);
      }

    }

  }

}

.item {

  &__icon {
    display: block;
    margin-bottom: rem(25);

    &_01 {
      img {
        width: rem(114);
        height: rem(127);
      }
    }

    &_02 {
      img {
        width: rem(127);
        height: rem(127);
      }
    }

    &_03 {
      img {
        width: rem(127);
        height: rem(127);
      }
    }

    &_04 {
      img {
        width: rem(137);
        height: rem(127);
      }
    }

    &_05 {
      img {
        width: rem(106);
        height: rem(127);
      }
    }

    &_06 {
      img {
        width: rem(89);
        height: rem(127);
      }
    }
  }

  &__text {
    color: $text;
    font-family: $fontOpen;
    font-size: rem(25);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(300);

    @media screen and (max-width: 767px){
      font-size: rem(16);
    }
  }

}
