.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	transition: opacity .5s ease-in-out;
	
	.is-preload & {
		opacity: 1;
	}
}
