@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: rem(115) 0 rem(50);
  background-color: transparent;
  transition: padding .15s ease-in-out, background-color .15s ease-in-out;

  @media screen and (max-width: 812px){
    padding: rem(40) 0 rem(40);
  }

  &.sticky {
    background-color: $bgPrimary;
    padding: rem(35) 0 rem(25);
    box-shadow: 0 0 rem(9, 9) rgba($shadow, .5);

    @media screen and (max-width: 812px){
      padding: rem(25) 0 rem(15);
    }
  }

  .logo {

    img {
      width: rem(250);
      height: rem(50);

      @media screen and (max-width: 767px){
        width: rem(150);
        height: auto;
      }
    }

  }
}
