@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-left: rem(35);
  padding-right: rem(36);
  font-family: $fontOpen;
  letter-spacing: .25px;
  color: $textContrast;
  font-size: rem(16);
  font-weight: 700;
  text-transform: uppercase;
  min-height: 45px;
  border-radius: rem(22);
  background-color: $bgContrast;
  box-shadow: 0 0 rem(30, 30) rgba($shadow, .25);
  overflow: hidden;
  background-image: linear-gradient(to right, $bgPrimary 0%, $bgGradient 100%);

  @media screen and (max-width: 1366px){
    min-height: 40px;
  }

  @media screen and (max-width: 767px){
    font-size: rem(14);
    box-shadow: 0 0 rem(15, 15) rgba($shadow, .25);
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    background-image: linear-gradient(to left, $bgPrimary 0%, $bgGradient 100%);
    transition: opacity .15s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &-block {
    display: block;
    width: 100%;
  }

}
