<header class="header">

    <div class="container">

        <div class="row">

            <div class="col">

                <a href="/" class="logo" data-aos="fade-up" data-aos-duration="350" data-aos-delay="50">

                    <img src="img/general/logo.png" alt="logo">

                </a>
                <!-- /.logo -->

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</header>
<!-- /.header -->
