@font-face {
    font-family: 'Gotham Pro';
    src: url('Bold/GothamPro-Bold.eot');
    src: url('Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('Bold/GothamPro-Bold.woff2') format('woff2'),
        url('Bold/GothamPro-Bold.woff') format('woff'),
        url('Bold/GothamPro-Bold.ttf') format('truetype'),
        url('Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('Light/GothamPro-Light.eot');
    src: url('Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('Light/GothamPro-Light.woff2') format('woff2'),
        url('Light/GothamPro-Light.woff') format('woff'),
        url('Light/GothamPro-Light.ttf') format('truetype'),
        url('Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

