@import "shared/variables";
@import "shared/mixin/px-to-rem";

html {
  font-size: 16px;

  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    font-size: 0.93333vw;
  }

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    font-size: 10px;
  }

  @media screen and (max-width: 767px){
    font-size: 16px;
  }
}

h1 {
  margin: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.container {
  @media screen and (min-width: 1600px){
    max-width: 1540px;
  }
}

.sec {
  overflow: hidden;

  &-main {
    height: 100vh;

    @media screen and (max-width: 812px) and (orientation: landscape){
      padding: rem(100) 0;
      height: initial;
    }

    .container, .row {
      height: inherit;

      @media screen and (max-width: 812px) and (orientation: landscape){
        height: initial;
      }
    }

    .title {
      line-height: 1.1186;
      margin-bottom: rem(70);
      margin-left: rem(-5);

      @media screen and (max-width: 767px){
        margin-bottom: rem(40);
        font-size: rem(44);
      }
    }

    .text {
      margin-bottom: rem(90);

      @media screen and (max-width: 767px){
        text-shadow: 0 0 1px 1px $contrast;
      }
    }
  }

  &-bg {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media screen and (max-width: 991px){
      background-position: 55% 0;
    }
  }

  &-trading {
    margin-top: rem(187);
    padding-top: rem(130);
    padding-bottom: rem(130);

    @media screen and (max-width: 1440px){
      margin-top: 0;
    }

    @media screen and (max-width: 767px){
      padding-top: rem(40);
      padding-bottom: rem(40);
    }

    .image {
      @media screen and (max-width: 767px){
        margin-bottom: rem(40);
      }
    }
    
    .content {
      @media screen and (max-width: 767px){
        text-align: center;
      }
    }
  }

  &-benefits {
    padding-top: rem(130);
    padding-bottom: rem(130);

    .items {
      text-align: center;

      @media screen and (min-width: 768px){
        margin-top: rem(176);
      }
    }

    @media screen and (max-width: 767px){
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }

  &-start {
    margin-top: rem(170);
    padding-top: rem(130);
    padding-bottom: rem(130);

    @media screen and (max-width: 1440px){
      margin-top: 0;
    }

    @media screen and (max-width: 767px){
      padding-top: rem(40);
      padding-bottom: rem(40);
    }

    .content {

      @media screen and (min-width: 768px){
        margin-top: rem(-30);
      }

      @media screen and (max-width: 767px){
        text-align: center;
      }
    }

    .wrap-image {
      width: 140%;

      @media screen and (max-width: 1440px){
        width: 110%;
      }

      @media screen and (max-width: 767px){
        margin-bottom: rem(40);
      }
    }

  }

}

.title {
  margin-bottom: rem(83);
  color: $textTitle;
  font-size: rem(82);
  font-weight: 300;
  line-height: 0.9957;
  font-family: $fontGothemLight;
  letter-spacing: rem(-4.56);

  @media screen and (max-width: 767px){
    font-size: rem(48);
    margin-bottom: rem(30);
  }

  &__bold {
    font-family: $fontGothemBold;
    font-weight: 700;
  }

  .sec-invert & {
    color: $textContrast;
  }
}

.subtitle {
  margin-bottom: rem(31);
  color: rgba($textSubtitle, .5);
  font-family: $fontOpenSemiBold;
  font-size: rem(27);
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: rem(4.5);

  @media screen and (max-width: 767px){
    font-size: rem(18);
    margin-bottom: rem(20);
  }
}

.text {
  margin-bottom: rem(110);
  color: $text;
  font-family: $fontOpen;
  font-size: rem(24);
  font-weight: 400;
  line-height: 1.2;

  @media screen and (max-width: 767px){
    font-size: rem(16);
    margin-bottom: rem(50);
  }

  .sec-invert & {
    color: $textContrast;
  }
}

.image {
  display: inline-block;
}
